* {
    margin: 0px;
    padding: 0px;

}


/* for header */
#discountHead {
    background: rgb(4, 152, 158);
}

#discountHead p {
    font-size: 14px;
}

/* for name picture */
.R_png {
    width: auto;
    height: 50px;
    margin-top: -10px;
}

.Name_text {
    font-size: 30px;
}

.BorderRadius-round {
    border-radius: 20px;
    color: white;
    padding: 0px 20px;
}

.nav-item a {
    border-bottom: 2px solid white;
}

.nav-item a:hover {
    border-bottom: 2px solid rgb(4, 152, 158);
}



/* home page picture Grow your learning skill */

.Header-Main-Div {
    height: 100vh;
    align-items: center;
    display: flex;
}

.Flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.pictureDiv {
    width: fit-content;
    height: fit-content;
    border: 20px solid rgb(255, 209, 92);
    border-radius: 20px;
    background: dark;
}

.GrowSkill {
    width: 70%;
}

.GrowSkill h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.font-color-blue {
    color: rgb(4, 152, 158);
    margin: 0px 5px;
}

.GrowSkill p {
    width: 70%;
    margin: 0px auto;
}

.Border-Down {
    /* border-bottom:5px solid green ;
     */
    box-shadow: inset 0 -20px 0 rgb(255, 209, 92);
    padding: 0px 5px;
}




@media only screen and (max-width: 990px) {
    .Header-Main-Div {
        height: fit-content;
        align-items: center;
        flex-direction: column;
    }

    #ratePic {
        width: fit-content;
        margin-top: 40px;
    }

    #ratePic img {
        margin: 0px auto;
    }

    .GrowSkill {
        width: 100%;
    }

    .GrowSkill p {
        width: 95%;
        margin: 0px auto;
    }

    .GrowSkill h1 {
        font-size: 35px;
        margin: 10px auto auto 2px;
    }

}

@media only screen and (max-width: 600px) {
    .Header-Main-Div {
        height: fit-content;
        padding: 30px 0px;
        flex-direction: column;
    }

    .Flex {
        flex-direction: column;
        align-items: center;
    }

    .GrowSkill {
        width: 100%;
    }

    .GrowSkill p {
        width: 95%;
        margin: 0px auto;
    }

    .GrowSkill h1 {
        font-size: 35px;
        margin: 10px auto auto 2px;
    }

}


/* count and title */
.Flex-Item_count {
    display: flex;
    height: fit-content;
    padding: 60px;
    color: white;
    background: rgb(0, 201, 218);
}


/* about */
.AboutDiv {
    margin: 20vh auto;
}

.left_trangle ,.left_trangle_yellow {
    width: 0px;
    height: 0px;
    border: 20px solid rgb(4, 152, 158);
    clip-path: polygon(80% 10%, 10% 50%, 10% 10%);
}

.left_trangle-white {
    width: 0px;
    height: 0px;
    border: 20px solid rgb(255, 209, 92);
    clip-path: polygon(80% 10%, 10% 50%, 10% 10%);

}

.left_trangle_yellow {
    border: 15px solid rgb(255, 209, 92);
    clip-path: polygon(100% 10%, 10% 60%, 10% 10%);

}

.AboutImgDiv {
    width: fit-content;
    height: auto;
    margin: 0px auto;
    /* overflow: hidden; */
}

.AboutImgDiv img {
    width: 100%;
}

.AboutDiv .Services {
    margin-top: 20vh;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
}

.Service img {
    /* width: 100%; */

}

.ServiceList .Service {
    width: 25vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0px 5px;
    overflow: hidden;

}

.ServiceList .p {
    width: 90%;
    height: 50px;
    text-align: center;
    margin: 0px auto;
}

.ServiceList {
    display: flex;
    justify-content: space-evenly; 
    align-items: start;
}

/* trangle for picture */
.trangle_picture, .trangle_picture-blue,
.trangle_picture_small {
    width: 50px;
    height: 50px;
    border: 100px solid rgba(255, 209, 92, 0.7);

    /* border: 120px solid red; */
    clip-path: polygon(100% 100%, 10% 0%, 10% 100%);
    position: absolute;
    bottom: -5px;
    left: -20px;
}
.trangle_picture-blue{
    border: 100px solid rgba(12,133,141, 0.5);

}

.trangle_picture_small {
    border: 60px solid rgba(255, 209, 92);
    clip-path: polygon(100% 100%, 10% 0%, 10% 100%);

}

.trangle_picture_right_small {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 60px solid rgb(0, 201, 218);
    clip-path: polygon(100% 0%, 10% 100%, 100% 100%);
    /* left: 0px; */
    right: 0px;
    bottom: 0px;
    z-index: 111;


}

@media only screen and (max-width: 980px) {
    .ServiceList {
        flex-direction: column;
    }
    .col-md-6Text{
        width: 90%;
    }

    .ServiceList .Service {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .ServiceList .p{
        width: 50%;
    }

}

@media only screen and (max-width: 700px) {
    .Flex-Item_count {
        flex-direction: column;
        align-items: center;
    }

    .trangle {
        width: 100px;
    }

    .AboutDiv .Services {
        margin-top: 10vh;
    }

    .AboutDiv {
        margin: 15vh auto;
    }

    .ServiceList {
        flex-direction: column;
    }


}

/*  */

/* Contact Part */
.Contact {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin: 20vh auto;

    background: rgb(4, 152, 158);
    display: flex;
    justify-content: flex-end;
    padding: 20px auto;
}

.Contact .Contact_div {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.Contact .Contact_div .items1 {
    width: 50%;
}

.form-control {
    fill: none;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;


}

.form-control:focus {
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
}

.form-control::placeholder {
    color: white;
}



@media only screen and (max-width: 700px) {
    .Contact {
        padding: 40px 0px;
        margin: 10vh auto;

    }

    .Contact .Contact_div {
        flex-direction: column;
        width: 100%;
    }

    .Contact .Contact_div .items1 {
        width: 90%;
    }

}



.OurClient {
    width: 100%;
    height: fit-content;
    background: rgb(247, 247, 247);
    padding: 50px 0px;
}

.OurClient p {
    width: 60%;
    margin: 0px auto;
}

.feedbacks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.feedback {
    width: 45vw;
    height: 60vh;
    overflow: hidden;
}

.card {
    width: 95%;
    height: 90%;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 0px;
}

.quotation {
    font-size: 15vh;
    text-align: center;
    transform: rotateX(180deg) rotateY(180deg);
}

.borderBottom {
    border-bottom: 10px solid rgb(0, 201, 218);
    border-radius: 20px 20px 30px 30px;
    height: 95%;
    margin-top: 0px;
}

.borderBottom .quotation {
    color: rgb(0, 201, 218);
}

/* trangles */

.trangleTopLeft {
    width: 50px;
    height: 50px;
    border: 80px solid rgb(255, 209, 92);
    clip-path: polygon(60% 10%, 10% 50%, 10% 10%);
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 1111;
}

.trangleTopRight {
    width: 50px;
    height: 50px;
    border: 80px solid rgb(255, 209, 92);
    clip-path: polygon(90% 50%, 90% 0%, 15% 0%);
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 1111;
}

@media only screen and (max-width: 800px) {
    .OurClient p {
        width: 80%;
        margin: 0px auto;
    }

    .feedbacks {
        flex-direction: column;
    }

    .feedback {
        width: 95%;
        height: fit-content;
        margin: 0px auto;
    }

}

@media only screen and (max-width: 990px) {


    .feedback {
        width: 95%;
        height: fit-content;
        padding: 20px 0px;
        margin: 0px auto;
    }
    
    .trangleTopRight {

        width: 50px;
        height: 50px;
        border: 80px solid rgb(255, 209, 92);
        clip-path: polygon(90% 50%, 90% 0%, 30% 0%);
        position: absolute;
        top: 20px;
        right: -10px;
    }
    .trangleTopLeft {
        width: 50px;
        height: 50px;
        border: 80px solid rgb(255, 209, 92);
        clip-path: polygon(60% 10%, 10% 50%, 10% 10%);
        position: absolute;
        top: 10px;
        left: -20px;
    }
}


/* help Us */
.helpusmain {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: flex-end;
    background: rgb(247,247,247);
    overflow: hidden;
}

.HelpUs {
    width: 100%;
    height: 50vh;
    background: rgb(4, 152, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    gap: 10px;
}

/* .TrangleImg{
    position: relative;
} */

.trangleBig {
    width: 40px;
    height: 60px;
    border: 140px solid rgb(255, 209, 92);
    clip-path: polygon(60% 10%, 10% 50%, 10% 10%);
    position: absolute;
    top: -45px;
    left: -10;
    z-index: 1;
    border-radius: 50%;
}

.imgDivWithTrangle {
    position: relative;
    width: 40vh;
    height: 52vh;

}

.imgDivWithTrangle img {
    position: absolute;
    z-index: 22;
    /* top: -25px; */
    left: 0px;
    width: 100%;
    height: 52vh;
}

.Content {
    height: fit-content;
    padding: 40px 0px;
}

.Content .title {
    color: white;
    margin: 10px auto;
    text-align: center;
}

/* table */
@media only screen and (max-width: 900px) {
    .HelpUs {
        flex-direction: row-reverse;
    }



}

/* mobile */
@media only screen and (max-width: 700px) {
    .HelpUs {
        height: fit-content;
        background: rgb(4, 152, 158);
        flex-direction: column;
        /* position: relative; */
    }

    .helpusmain {
        height: fit-content;
        padding-top: 20px;
    }

    .imgDivWithTrangle img {
        border-radius: 0px 0px 40% 40%;
        /* top: 50px; */
        left: -10px;
    }

    .trangleBig {

        top: -25px;
        z-index: 1;
    }

}



/* buttons */
.btn-round-blue,
.btn-round-register,
.btn-round-whitebrown,
.btn-contact {
    width: fit-content;
    font-size: 15px;
    padding: 12px 25px;
    border-radius: 25px;
    transition: 0.5s;
}

.btn-round-blue,
.btn-round-register {
    background: rgb(0, 201, 218);
    color: white;
    font-weight: bold;

}

.btn-round-register:hover {
    color: black;
}

.btn-contact {
    background: white;
    color: black;
    font-weight: bold;
}

.btn-contact:hover {
    background: rgb(0, 201, 218);
    color: white;
}

.btn-round-blue:hover {
    color: black;
    border: 1px solid rgb(0, 201, 218);
}

.btn-round-whitebrown,
.btn-submit {
    background: rgb(244, 244, 244);
    color: black;
}

.btn-submit {
    border-radius: 20px;
    width: fit-content;
    padding: 10px 40px;
    transition: 0.5s;

}

.btn-submit:hover {
    color: white;
    background: rgb(4, 152, 158);
    transition: 0.5s;
    border: 1px solid white;
}

.btn-group {
    display: felx;
    justify-content: space-evenly;
    align-items: center;
}


.title {
    font-size: 30px;
    font-weight: bold;
}
.subtitle{
    font-size: 25px;
    font-weight: bold;
}
.Paragraph{
    font-size: 16px;
    text-align: start;
}